
body{
    
}
caption {
    caption-side: top;
}
figcaption{
    clear: both;
    text-align: center;
}
footer{
    padding-top: 7px;
    font-family: monospace;
    font-family: serif;
    clear: both;
}

html{
    background: rgb(200,200,200);
}
h1{
    font-family: georgia;
}
h2{
    font-family: fantasy;
    font-style: italic;
}
h3{
    font-family: sans-serif;
}
h4{
    font-family: cursive;
}
ul > ul{
    display: inline;
}
mediaquery

nav li{
    list-style-type:none;
}

nav a{
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 1.25em;
}
section{
    font-family: serif;
    font-size: 1.5em;
    padding: 2px 2px 2px 2px;
    word-spacing: .2em;
    text-indent: 20px;
}

table{
    float:left;
    max-width: 35%;
    width: 35%;  
}
table caption{
    font-size: 1.5em;
}
table tfoot{
    font-size: small;
}

/*------Shared-------*/
table caption, tfoot {
        text-align: center;
    vertical-align: middle;  
}
article, header, nav li{
    display: inline-block;
}
article, footer, img{
    margin-left: 5%;
}