h1{
    font-size: 2.5em;
    font-family: Century Gothic;
}
h2{
    font-family: fantasy;
    font-style: italic;
}
h3{
    font-family: sans-serif;
}
h4{
    font-family: cursive;
}
footer{
    font-family: monospace;
    font-family: serif;
    font-size: 1.2em;
}
mediaquery

nav li{
    list-style-type:none;
}

nav a{
    text-decoration:underline;
    color: rgb(1,1,1);
    font-size: 1.55em;
    text-align: center;    
    font-family: Big Caslon;
}
section{
    font-family: serif;
    font-size: 1.5em;
}
table thead, tbody, tfoot{
    font-size: .5em;
}
table caption{
    font-size: 1.5em;
}


